[Unit]
Description=TheIsle Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=theisle
ExecStart=/usr/bin/env /home/theisle/theisle/./TheIsleServer.sh MultiHome=192.53.167.22?Port=7777?QueryPort=7778 -log

[Install]
WantedBy=multi-user.target